body {
    margin-top: 35vh;
}
.container {
    margin: auto;
    /* border: solid 2px black; */
    max-width: 70vw;
    max-height: 50vh;
}
img {
    margin: auto;
    display: block;
    max-width: 100px;
    max-height: 100px;
    /* height: auto; */
}
input {
    margin: auto;
    margin-bottom: 5%;
    display: block;
    border-radius: 15px;
}
button {
    margin: auto;
    max-width: 35vw;
    min-height: 4.5vh;
    display: inline;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
}