body {
    margin-top: 30vh;
}
.container {
    margin: auto;
    /* border: solid 2px black; */
    max-width: 70vw;
    max-height: 50vh;
}
img {
    margin: auto;
    display: block;
    max-width: 35vw;
    max-height: 25vh;
    /* height: auto; */
}
input {
    margin: auto;
    margin-bottom: 5%;
    min-height: 3vh;
    display: block;
    border-radius: 15px;
}
#wrapper {
    display: flex;
    justify-content: center;

}
button {
    /* margin: auto; */
    max-width: 35vw;
    min-height: 4vh;
    /* display: inline; */
    margin: 1%;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
}
@media only screen and (min-width: 1024px) {
    body {
        margin-top: 20vh;
    }
    img {
        min-width: 50vh;
        min-height: 15vw;
    }
    input {
        min-width: 20vw;
        margin-bottom: 2.5%;
    }
}